.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
}

.container img {
  width: 380px;
}

.title {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
}

.toolStack {
  font-size: 16px;
  display: flex;
  gap: 1.3rem;
}
