.container {
  display: grid;
  background-color: #242424;
  grid-template-columns: 1fr 1fr;
  padding: 30px 0;
  position: relative;
}

.info {
  max-width: 400px;
}

.info h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
}

.info p {
  color: #dfdfdf;
  font-size: 18px;
  line-height: 28px;
}

.form {
  justify-self: end;
}
.form form {
  display: flex;
  flex-direction: column;
  width: 27vw;
  font-size: 18px;
  gap: 20px;
  margin-top: 20px;
}

.form input {
  background-color: #242424;
  color: #dfdfdf;
  border: none;
  border-bottom: solid #dfdfdf 1px;
  outline: none;
  line-height: 24px;
}

.form button {
  background-color: #242424;
  color: #dfdfdf;
  border: none;
  border-bottom: solid #4ee1a0;
  width: fit-content;
  cursor: pointer;
  align-self: flex-end;
  height: 30px;
}

.form input[name="message"] {
  height: 70px;
}

.container hr {
  grid-column: span 2;
}

.container h2 {
  margin: 20px 0;
}

.buttonBar {
  margin: 20px 0;
  justify-self: end;
  display: flex;
  gap: 10px;
}

.buttonBar img {
  width: 25px;
  height: 24px;
}

.container img[alt="rings"] {
  position: absolute;
  left: -300px;
  top: 182px;
}
