.mainContainer {
  display: flex;
  justify-content: space-between;
}
.buttonBar {
  z-index: 2;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttonBar img:hover {
  color: #4ee1a0;
  background-color: #4ee1a0;
  cursor: pointer;
}

.title {
  font-size: 24px;
  font-weight: bold;
  z-index: 100;
}

.icon {
  color: #fff;
}

.icon:hover {
  color: #4ee1a0;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
